<app-navigation></app-navigation>
<form class="item-form">

  <mat-form-field class="name-field">
    <mat-label>
      Item name
    </mat-label>
    <!-- [(ngModel)]: 2 way binding, se pot primi date din create-item.component.ts dar se pot si trimite-->
    <textarea matInput class="name-textarea" [(ngModel)]="item.name" name="itemName"> </textarea>
  </mat-form-field>

  <mat-form-field class="name-field">
    <mat-label>
      Item description
    </mat-label>
    <!-- [(ngModel)]: 2 way binding, se pot primi date din create-item.component.ts dar se pot si trimite-->
    <textarea matInput class="name-textarea" [(ngModel)]="item.description" name="itemDescription"> </textarea>
  </mat-form-field>


  <mat-form-field>
    <mat-label>Item status</mat-label>
    <mat-select [(ngModel)]="item.itemStatus" name="itemStatus">
      <!-- prin [value] doar se trimit date in componenta create-item.component.ts-->
      <mat-option *ngFor="let status of statusArray" [value]="status">
        {{translationMap[status.toString()]}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-stroked-button color="primary" (click)="save()">Save</button>
  <button mat-stroked-button color="primary" (click)="loadItems()">Load items</button>

  <mat-list *ngFor="let item of itemsArray | async">
    <mat-list-item>{{item.name}}  | {{item.itemStatus}}</mat-list-item>
  </mat-list>
</form>

