<app-navigation></app-navigation>
<div class="example-container">
  <h2>To do</h2>

  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="itemToDoResponse"
    [cdkDropListConnectedTo]="[inProgressList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
    id="todo"
  >
    <div class="example-box" *ngFor="let item of itemToDoResponse" cdkDrag>
      {{item.name}}
      <div>
        <button mat-icon-button color="primary" (click)="showDescription(item)">
          <mat-icon>subject</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="showDeleteDialog(item.id)">
          <mat-icon>delete_sweep</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="example-container">
  <h2>In progress</h2>

  <div
    cdkDropList
    #inProgressList="cdkDropList"
    [cdkDropListData]="itemInProgressResponse"
    [cdkDropListConnectedTo]="[todoList, doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
    id="in_progress"
  >
    <div class="example-box" *ngFor="let item of itemInProgressResponse" cdkDrag>
      {{item.name}}
      <div>
        <button mat-icon-button color="primary" (click)="showDescription(item)">
          <mat-icon>subject</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="showDeleteDialog(item.id)">
          <mat-icon>delete_sweep</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>


<div class="example-container">
  <h2>Done</h2>

  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="itemDoneResponse"
    [cdkDropListConnectedTo]="[todoList, inProgressList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
    id="done">
    <div class="example-box" *ngFor="let item of itemDoneResponse" cdkDrag>
      {{item.name}}
      <div>
        <button mat-icon-button color="primary" (click)="showDescription(item)">
          <mat-icon>subject</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="showDeleteDialog(item.id)">
          <mat-icon>delete_sweep</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
